@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 600;
  src: url('/assets/fonts/lato-600.woff2') format('truetype');
  font-display: swap;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply font-inter antialiased;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input[type='time']::-webkit-calendar-picker-indicator {
  display: none !important;
  -webkit-appearance: none;
}

button,
input,
select,
textarea,
span {
  @apply font-inter;
}

@layer base {

  h1,
  h2,
  h3,
  h4 {
    @apply font-lato;
  }

  h5,
  p {
    @apply font-inter;
  }
}

.bullet ul {
  list-style: disc;
}

a:focus,
button:focus {
  outline: none !important;
  box-shadow: none !important;
}

body.overflow-hidden {
  overflow: hidden !important;
  position: fixed;
  width: 100%;
  height: 100%;
}

@layer utilities {

  /* Oculta a barra de rolagem em todos os navegadores (sua classe existente) */
  .scrollbar-none {
    scrollbar-width: none;
    -ms-overflow-style: none;
    -webkit-scrollbar-width: none;
  }

  .scrollbar-none::-webkit-scrollbar {
    display: none;
  }

  /* Classe para scrollbar customizado (sem background no track, só thumb visível) */
  .scrollbar-custom {

    /* Largura do scrollbar */
    &::-webkit-scrollbar {
      width: 6px;
    }

    /* Fundo da trilha (track) - transparente */
    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 3px;
    }

    /* Parte rolável (thumb) */
    &::-webkit-scrollbar-thumb {
      background: #d1d5db;
      border-radius: 3px;
    }

    /* Hover no thumb */
    &::-webkit-scrollbar-thumb:hover {
      background: #9ca3af;
    }

    /* Ativo no thumb (clique) */
    &::-webkit-scrollbar-thumb:active {
      background: #6b7280;
    }

    /* Suporte para Firefox */
    scrollbar-width: thin;
    scrollbar-color: #d1d5db transparent;
  }
}